# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# python virtual environment and cache
__pycache__/
*.pyc
.venv/

# IDEs and editors
.vscode/
.idea/

# unused files
*unused/
experiments/

# MQTT-topic based LB experiments Logs from brokers
lb-n-reals/experiment_logs*/

#  client observability BPF experiments
lb-n-reals/client/Makefile
lb-n-reals/client/include/
lb-n-reals/client/tcp_seq.bpf.c
lb-n-reals/experiment*
past_monitor/personal_dashboards
