services:

  lb_from_scratch:
    container_name: lb_from_scratch
    build:
      context: lb_from_scratch/
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 4G
          pids: 1024
        reservations:
          cpus: '2.0'
          memory: 2G
    privileged: true                    # recommended for XDP/AF_XDP access
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - /lib/modules:/lib/modules:ro
      - /sys/fs/bpf:/sys/fs/bpf
      - /sys/kernel/debug:/sys/kernel/debug:rw
      - /usr/src:/usr/src:ro
    networks:
      gateway-scratch-lb:
        ipv4_address: ${SCRATCH_LB_IP}
        mac_address: ${SCRATCH_LB_MAC}
    env_file: .env


  katran:
    container_name: katran
    build:
      context: katran/
    deploy:
      resources:
        limits:
          cpus: '8.0'
          memory: 6G
          pids: 4096
        reservations:
          cpus: '6.0'
          memory: 6G
    privileged: true                    # recommended for XDP/AF_XDP access
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - /lib/modules:/lib/modules:ro
      - /sys/fs/bpf:/sys/fs/bpf
      - /sys/kernel/debug:/sys/kernel/debug:rw
      - /usr/src:/usr/src:ro
    networks:
      gateway-lb:
        ipv4_address: ${KATRAN_IP}
        mac_address: ${KATRAN_MAC}
    env_file: .env

  
  client:
    container_name: client
    build:
      context: client/
    cap_add:
      - NET_ADMIN
    networks:
      gateway-client:
        ipv4_address: ${CLIENT_IP}
        mac_address: ${CLIENT_MAC}
    env_file: .env
  
  real_1:
    container_name: real_1
    build:
      context: real/
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_1_IP}
        mac_address: ${REAL_1_MAC}
    env_file: .env
    environment:
      - NUM=1

  real_2:
    container_name: real_2
    build:
      context: real/
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_2_IP}
        mac_address: ${REAL_2_MAC}
    env_file: .env
    environment:
      - NUM=2

  real_3:
    container_name: real_3
    build:
      context: real/
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/conf.d/mosquitto.conf
    networks:
      gateway-reals:
        ipv4_address: ${REAL_3_IP}
        mac_address: ${REAL_3_MAC}
    env_file: .env
    environment:
      - NUM=3

  gateway:
    container_name: gateway
    build:
      context: gateway/
    cap_add:
      - NET_ADMIN
    networks:
      gateway-client:
        ipv4_address: ${GATEWAY_CLIENT_IP}
        mac_address: ${GATEWAY_CLIENT_MAC}
      gateway-lb: 
        ipv4_address: ${GATEWAY_KATRAN_IP}
        mac_address: ${GATEWAY_KATRAN_MAC}
      gateway-reals:
        ipv4_address: ${GATEWAY_REAL_IP}
        mac_address:  ${GATEWAY_REAL_MAC}
      gateway-scratch-lb:
        ipv4_address: ${GATEWAY_SCRATCH_LB_IP}
        mac_address:  ${GATEWAY_SCRATCH_LB_MAC}
    # depends_on:
    #   - katran
    env_file: .env

networks:
  gateway-client:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_CLIENT_SUBNET}
  gateway-lb:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_KATRAN_SUBNET}
  gateway-reals:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_REAL_SUBNET}
  gateway-scratch-lb:
    driver: macvlan
    ipam:
      config:
        - subnet: ${GATEWAY_SCRATCH_LB_SUBNET}
